/* Variables */
:root {
    --text: #6f4f8f;
    --bg: #ffbfff;
    --fade: #ffebff;
    --footer: #bf9fdf;
    --glow: #ff80ff;
}

/* Global Reset */
* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    background: none;
    line-height: 1.5;
    scroll-behavior: smooth;
    overflow: visible;
    flex-wrap: wrap;
    color: var(--text);
}

html {
    overflow: scroll;
    height: 100%;
    width: 100%;
}

body {
    width :100%;
    max-width: 1400px;
    margin: auto;
    padding: 30px;
    display: flex;
    gap: 40px;
    overflow: hidden;
}

#bg {
    position: fixed;
    background: linear-gradient(0deg, var(--fade) 0%, var(--bg) 90%);
    inset: 0;
    z-index:-1;
}

/* display: none; */

#temp {
    width: 100%;
    text-align: center;
    position: fixed;
    background: #ffbfff;
    inset: 0;
    z-index: 99;
}


header {
    width: 100%;
    padding: 20px 0;
    border: 2px solid var(--glow);
    box-shadow: 5px 5px 10px var(--glow);
    border-radius: 10px;
    text-align: center; 
}


#title {
    margin-bottom: 40px;
    font-size: 60px;
    text-shadow: var(--glow) 5 0 10px, var(--glow)-5 0 10px;
}

nav {
    width:100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    width: 100px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid var(--glow);
    box-shadow: 5px 5px 10px var(--glow);
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    box-shadow: inset 5px 5px 10px var(--glow);
    text-decoration: underline;
}

.button[aria-current="page"] {
    box-shadow: inset 5px 5px 10px var(--glow);
    cursor: default;
    text-decoration: underline;
    pointer-events: none;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

section {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 40px;
}

.content {
    padding: 10px;
    border: 2px solid var(--glow);
    box-shadow: 5px 5px 10px var(--glow);
    border-radius: 10px;
}

span {
    width: 100%;
    border: 2px solid #6f4f8f;
}

footer, footer p {
    width:100%;
    text-align: center;
    color: var(--footer);
    font-style: italic;
    font-weight: bold;
}