:root {
    --text: #6f4f8f;
    --bg: #ffbfff;
    --fade: #ffebff;
}

/* Global Reset */
* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    background: none;
    line-height: 1.5;
    scroll-behavior: smooth;
    overflow: visible;
    flex-wrap: wrap;
    color: var(--text);
}

html {
    overflow: scroll;
    height: 100%;
    width: 100%;
}

body {
    padding: 30px;
    width :100%;
    overflow: hidden;
    margin: auto;
}

#bg {
    position: fixed;
    background: linear-gradient(0deg, var(--fade) 0%, var(--bg) 90%);
    inset: 0;
    z-index:-1;
}